<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1013647520532-gou7njeh7n4655u3g0iual4rh02bukqc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1013647520532-gou7njeh7n4655u3g0iual4rh02bukqc</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1013647520532-aat9rv8s3k6p031uqql48673licdmq4m.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyD2TKGj_YygO6rKG7zxfBYdldlHmhWeu_I</string>
	<key>GCM_SENDER_ID</key>
	<string>1013647520532</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.unifesto.app</string>
	<key>PROJECT_ID</key>
	<string>unifesto</string>
	<key>STORAGE_BUCKET</key>
	<string>unifesto.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1013647520532:ios:10b37d6b23c62ebd5b4801</string>
	<key>DATABASE_URL</key>
	<string>https://unifesto-default-rtdb.firebaseio.com</string>
</dict>
</plist>